<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />

<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>Is Ten Bis:</strong>
  <%= @restaurant.is_ten_bis %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
