<!DOCTYPE html>
<html>
  <head>
    <title>WeEat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- remove this line if you want react to reload upon "back"-->
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->


  </head>
    <body class="<%= controller.controller_name %>">
    <div class="banner">
      <div style="margin-left: 50%; padding-top: 10px;">
        <h1 class="cuisine">F </h1>
        <h2>WeEat</h2>
        <h3>it's 12:00 and you're hungry</h3>
      </div>
    </div>
      <%= yield %>
    </body>
</html>
